* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#emoji {
    font-size: 10rem;
    filter: grayscale(1);
    cursor: pointer;
    transition-property: transform, filter;
    transition-duration: 200ms;
}

#emoji:hover {
    transform: scale(1.3);
    filter: grayscale(0);
    
}